html{
    line-height: 1.2em;
    font-family: Calibri;
    font-size: 16px;
}

label{
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin-top: 5px;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #7bb9fc;
  border-radius: 8px;
  box-sizing: border-box;
}

fieldset{
    border-radius: 12px;
    border: 2px solid grey;
    background-color: white;
}

@media screen and (min-width: 480px){
  input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #7bb9fc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  fieldset{
    width: 100%;
    border-radius: 12px;
    border: 2px solid grey;
    background-color: white;
    text-align: center;
    margin: auto;
  }
}

@media screen and (min-width: 768px){
    
}